In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import re

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [28]:
##Visit The NASA Mars news site

url = 'https://mars.nasa.gov/news/'
browser.visit(url)

browser.is_element_present_by_css('ul.item_list li.slide')

html = browser.html

news_soup = bs(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')
slide_elem.find('div',class_='content_title')

news_title = slide_elem.find('div',class_='content_title').get_text()
news_title

news_p = slide_elem.find('div',class_='article_teaser_body').get_text()
news_p

'The team has learned to meet new challenges as they work remotely on the Mars mission.'

In [33]:
news_title

"NASA's Curiosity Keeps Rolling As Team Operates Rover From Home"

In [29]:
##JPL Mars Space Images - Featured Image

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

browser.is_element_present_by_text('more info', wait_time=1)
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

html = browser.html
img_soup = bs(html, 'html.parser')

img_url_rel = img_soup.select_one('figure.lede a img').get('src')
img_url_rel

img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18897_hires.jpg'

In [30]:
##Mars Weather

url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

time.sleep(5)

html = browser.html
weather_soup = bs(html, 'html.parser')

mars_weather_tweet = weather_soup.find('div', attrs={'class':
     'tweet','data-name': 'Mars Weather'})

try:
    mars_weather = mars_weather_tweet.find('p', 'tweet-tex').get_text()
    mars_weather

except AttributeError:
    pattern = re.compile(r'sol')
    mars_weather = weather_soup.find('span',text=pattern).text
    mars_weather
    
mars_weather

'InSight sol 495 (2020-04-17) low -94.0ºC (-137.2ºF) high -4.2ºC (24.4ºF)\nwinds from the WNW at 4.6 m/s (10.4 mph) gusting to 16.7 m/s (37.3 mph)\npressure at 6.60 hPa'

In [11]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [12]:
time.sleep(5)

html = browser.html
weather_soup = bs(html, 'html.parser')

In [13]:

pattern = re.compile(r'sol')
mars_weather = weather_soup.find('span',text=pattern).text
mars_weather

'InSight sol 496 (2020-04-18) low -94.6ºC (-138.4ºF) high -6.2ºC (20.9ºF)\nwinds from the SW at 4.6 m/s (10.3 mph) gusting to 15.7 m/s (35.2 mph)\npressure at 6.60 hPa'

In [10]:
pattern = re.compile(r'sol')
mars_weather = weather_soup.find('span',text=pattern).text
mars_weather

'InSight sol 496 (2020-04-18) low -94.6ºC (-138.4ºF) high -6.2ºC (20.9ºF)\nwinds from the SW at 4.6 m/s (10.3 mph) gusting to 15.7 m/s (35.2 mph)\npressure at 6.60 hPa'

In [31]:
##Mars Hemispheres

url ='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

hemisphere_image_urls = []
links = browser.find_by_css('a.product-item h3')

for i in range(len(links)):
    hemisphere = {}
    
    browser.find_by_css('a.product-item h3')[i].click()
    sample_elem = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    hemisphere_image_urls.append(hemisphere)
    
    browser.back()

    hemisphere_image_urls

In [32]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [2]:
 import pandas as pd

In [3]:
url="https://space-facts.com/mars/"

tables = pd.read_html(url)
#this is a dataframe. Tables is a list
tables[0]
tabledata=tables[0].to_html()

In [4]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
                       0                              1
 0             Diameter:                       3,475 km
 1                 Mass:  7.35 × 10^22 kg (0.01 Earths)
 2               Orbits:                      The Earth
 3       Orbit Distance:                     384,400 km
 4         Orbit Period:                      27.3 days
 5  Surface Temperature:                 -233 to 123 °C,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
 type(tables)

list

In [7]:
df = tables[0]
df.columns = ['Paramters','Data']
df.head()

              Paramters                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [12]:
tabledata=df.to_html()

In [13]:
tabledata

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Paramters</th>\n      <th>Data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
tabledata.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Paramters</th>      <th>Data</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'